<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>With jwt logic</title>

  <script type="text/javascript" th:src="@{/js/account/signup.js}"></script>
</head>
<body>
<div th:object="${user}">
  <span>아이디</span>
  <input type="text" th:field="*{userName}">
  <span>비밀번호</span>
  <input type="password" th:field="*{password}">

  <div>
    <span>성별</span>
    <li th:each="gender : ${genders}">
      <input type="radio" th:id="${gender.name()}" name="gender" th:value="${gender.description}">
      <label th:for="${gender.name()}" th:text="${gender.description}"></label>
    </li>
  </div>

  <input type="button" onclick="obj.signup();" th:value="#{button.signup}">
</div>
</body>
</html>