<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>With jwt logic</title>

    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>

<body>
<div>
    <form id="frm" th:object="${loginDto}">
        <span>아이디</span>
        <input type="text" th:field="*{userName}">
        <span>비밀번호</span>
        <input type="text" th:field="*{password}">

        <input type="button" th:value="#{button.login}" onclick="obj.login();">
    </form>

    <input type="button" th:value="#{button.signup}" onclick="location.href='/account'">
</div>
</body>
</html>